.navbar {
    align-items: center;
    border-bottom: 1px solid black;
    display: flex;
    height: 100px;
    justify-content: space-between;
    margin-bottom: 20px;

    .game {
        justify-self: center;
    }

    .logo {
        height: 30px;
    }
}