
.label {
    font-size: 20px;
}

.input {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0;
    font-size: 20px;
    height: 30px;
    text-align: center;
  }

.error {
  text-align: center;
  background-color: lightcoral;
  color: red;
}