.content-layout{
  align-items: center;
  flex-direction: column;
  display: flex;

  .tools-container{
    max-width: 1300px;
    .tools {
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;

      .techs-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 10px 80px;
      }
    }  
  }
}