.footer {
    align-items: center;
    background-color: $cerulean;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: center;

    .footer-text {
        color: $white;
        font-size: $text-big
    }

    .footer-copyright {
        align-self: flex-end;
        color: $white;
        font-size: $text-small
    }
}