.footer {
  align-items: center;
  background-color: $cerulean;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  padding: 0 10px;

  .footer-text {
    color: $white;
    font-size: $text-big;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  .footer-copyright {
    align-self: flex-end;
    color: $white;
    font-size: $text-small;
  }
}