.navbar {
  align-items: center;
  background-color: $white;
  box-shadow: 0px 3px 10px 2px $silver;
  display: flex;
  height: $nav-height;
  justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  width: 100%;
  z-index: 1;

  .navbar-logo {
    height: $nav-logo-height;
  }

  .navbar-title {
    font-size: $text-big;
  }
}