
.tech-border {
  border: 1px solid $earls-green;
  border-radius: 7px;
  height: 270px;
  position: relative;
  width: 180px;

  .tech-inside{
    align-items: center;
    background-color: $earls-green;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    height: 280px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 190px;
    
    .tech-image {
      height: $tech-logo-size;
      margin: 10px;
      width: $tech-logo-size;
    }
  
    .tech-text-title{
      font-size: $text-medium;
      text-align: center;
    }
    .tech-text{
      font-size: $text-small;
      margin: 10px;
      text-align: center;
    }
  }
}