
.tech {
  position: relative;

  &::before{
    border: 1px solid $earls-green;
    border-radius: 7px;
    height: $tech-height;
    position: absolute;
    width: $tech-width;
  }

  .tech-inside {
    align-items: center;
    background-color: $earls-green;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    height: $tech-height;
    position: absolute;
    text-align: center;
    width: $tech-width;

    .tech-image {
      height: $tech-logo-size;
      margin: 10px;
      width: $tech-logo-size;
    }
  
    .tech-text-title {
      font-size: $text-medium;
    }

    p,
    span {
      font-size: $text-small;
      margin: 10px;
    }
  }
}